@model IEnumerable<MVCApp.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JerseyNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matches)
            </td>
            <td>
                    <img src="@item.ImageUrl" alt="@item.PlayerName" style="max-width: 600px;" />
             </td>
             <td>
                @Html.DisplayFor(modelItem => item.JerseyNumber)
            </td>
            <td>
                <a class="btn-primary"  asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a class="btn-primary"  asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                <a class="btn-primary"  asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    body {
        background-color: #1A1A1A;
        color: #FFFFFF;
    }

    .header {
        background-color: whitesmoke;
        padding-left: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .display-4 {
        font-weight: 650;
    }

    .song-card {
        background-color: #333333;
        color: whitesmoke;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    tr {
        color: whitesmoke;
    }

    .song-card h4 {
            color: #1DB954;
        }

    .btn-primary {
        background-color: #1DB954;
        border: 3px solid black;
        padding: 4px;
    }
</style>
